.boxservice i, .highlight, .navbar-nav>li>a:hover 
{color:#F7D524;}

#portfolio .portfolio-item .portfolio-link .caption,
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-nav li a.active,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus, 
::selection 	
{background-color:#F7D524;}

.maincolorbg {background-color:#5bb3c6;}