#header {
    background-color: #5bb3c6 !important;
}

#explore {
    background-color: #f7d524 !important;
}

p.spec::before {
    content: "Specification: ";
}

p.spec {
    text-decoration:underline;
}

